<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

td, th {
  border: 4px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>
<body>

<h2>Data</h2>

<table>
  <tr>
        {% for key in keys %}
          <th> {{key}} </th>
        {% endfor %}
  </tr>
  <tr>
      {% for key in keys %}
      {% endfor %}
  </tr>
    {% for dict in data %}
  <tr>
      {% for key in keys %}
        <td>{{dict[key]}}</td>
      {% endfor %}
  </tr>
    {% endfor %}
</table>

</body>
</html>